@font-face {
    font-family: 'NectoMono';
    font-style: normal;
    font-weight: 100 900;
    font-display: optional;
    src: url(/fonts/Necto-Mono.woff2) format('woff2');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100 900;
    font-display: optional;
    src: url(/fonts/Montserrat-VF.woff2) format('woff2');
}

* {
    font-family: 'NectoMono', monospace;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}

html {
    scroll-behavior: smooth;
}

video::-webkit-media-controls {
    display: none !important;
}